* { 
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(185, 96, 96);
    
}
.altura1 {
    height: 80%;
    background-color: rgb(245, 25, 25);
}

.altura2 {

    height: 180px;
    background-color: rgb(230, 18, 18);
    
}

.altura3 {
    height: 180px;
    background-color: rgb(255, 106, 156);

}